{% extends "layout.html" %}

{% block content %}

<head>   <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}"> 

<div class="jumbotron">

    <h1 class="display-4">Bienvenidos </h1>
    <p class="lead"> Esta es una unidad de héroe simple, un componente simple estilo jumbotron para llamar la atención
                contenido o información destacados.</p>
    <hr class="my-4">
    <p>
        Utiliza clases de utilidad para la tipografía y el espaciado para espaciar el contenido dentro del contenedor más grande.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Jamava</a>
    
</div>
</head>
{% endblock %}